<!doctype html>
<head>
  <title>{{ p1name }} VS {{ p2name }}</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
</head>
<body>
<form action="" method="POST" role="form" class="form-horizontal">
  <div class="container">
    <div class="row">
      <div class="col" align="center">
        <label><font size="18">{{ p1name }} VS {{ p2name }}</font></label>
      </div>
    </div>
    <div class="row">
      <div class="col" align="right">
        <button type="submit" name="submit" value="hitme">Hit Me</button>
        <button type="submit" name="submit" value="stick">Stick</button>
        <button type="submit" name="submit" value="fold">Fold</button>
      </div>
    </div>
  </div>
</form>
</body>
</html>
