<!doctype html>
<head>
  <meta http-equiv="refresh" content="10" />
  <title>{{ p1name }} VS {{ p2name }}</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
</head>
<body>
<form action="" method="POST" role="form" class="form-horizontal">
  <div class="container">
    <div class="row">
      <div class="col" align="center">
        <label><font size="18">{{ p1name }} VS {{ p2name }}</font></label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if username==p1name %}
          {% for card in p2h %}
            <img src="/static/deck/{{ card }}.png" width="30">
          {% endfor %}
        {% elif username==p2name %}
          {% for card in p1h %}
            <img src="/static/deck/{{ card }}.png" width="30">
          {% endfor %}
        {% endif %}
      </div>
      <div class="col" align="right">
        <button type="submit" name="submit" value="hitme">Hit Me</button>
        <button type="submit" name="submit" value="stick">Stick</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if username==p2name %}
          {% for card in p2h %}
            <img src="/static/deck/{{ card }}.png" width="30">
          {% endfor %}
        {% elif username==p1name %}
          {% for card in p1h %}
            <img src="/static/deck/{{ card }}.png" width="30">
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</form>
</body>
</html>
