<!doctype html>
<head>
  <title>Sharkopedia</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
</head>
<body>
<h1>Sharkopedia</h1>
<form action="" method="post" name="form" enctype="multipart/form-data">
    <p>
      <input type="submit" name="submit" value="all">
    </p>
    {% for shark in sharks %}
      {% if ".txt" in shark %}
      <p>
        <a href="https://en.wikipedia.org/wiki/{{ shark|replace(" ",
        "_")|replace(".txt","")
        }}">{{ shark|replace(".txt", "") }}</a>
      </p>
      {% else %}
      <p>
        <input type="submit" name="submit" value={{ shark }}>
      </p>
      {% endif %}
    {% endfor %}
</form>
</body>
</html>
