{% extends "overtemplate.html" %}
{% block content %}
<form action="" method="POST" role="form" class="form-horizontal">
  <div class="container">
    <div class="row">
      <div class="col" align="center">
        <label><font size="18">Card Games Login</font><label>
      </div>
    </div>
    <div class="row">
      <div class="col" align="center">
        <div class="form-group">
          <label for="usr">Username:</label>
          <input type="text" class="form-control" id="usr" name="usr">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" name="pwd">
        </div>
        <button type="submit" name="submit">Log In</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
